.courses-content{
    width: 100%;
    min-height: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
    
}
.courses-title-block{
    max-width: 560px;
    min-height: 400px;
    width: 100%;
    background: url(../../img/teamBlock/teamBG.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
   
}
.courses-title{
    h2{
        color: #666666d4;
        font-weight: 500;
        text-shadow: 1px 1px 6px white;
        b{
            font-weight: 500;
            color: var(--green);
        }
    }
}
.courses-block-card{
    padding: 60px 0;
}