.video-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    .container-title{
        max-width: 100%;
        p{
            margin-top: 20px;
        }
    }
}
.video-content-box{
    width: 100%;
    height: auto;
    display: block;
    padding: 25px 0;
}
.video-link{
    max-width: 530px;
    width: 100%;
    max-height: 300px;
}
.video-link-items{
    width: 100%;
    height: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.video-link-logo{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 70px;
  background-image: url(../../svg/youtub.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}