.experience-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .experience-content-box{
    width: 100%;
    padding: 25px  0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 30px;
    overflow: hidden;
  }
  .experience-item{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    &:nth-child(2){
        grid-column-start: 4;
        grid-column-end: 7;
    }
    &:nth-child(3){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      
    }
    &:nth-child(4){
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;   
    }
    &:nth-child(5){
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
    }
  }
  .experience-item-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .experience-item-img{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: contain;
    }

  }
  .experience-item-description{
    width: 100%;
    min-height: 210px;
    padding:80px 30px 34px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 0.07);
    border-radius: 20px; 
    display: flex;
    align-items: center;
    p{
        text-align: center;
        line-height: 1.3;
        font-weight: 400;
        font-size: 16px;
    }
  }

  .experience-content-mob{
    width: 100%;
    height: auto;
    display: none;
}
  @media(max-width:1000px){
    .experience-item-img{
        width: 100px;
        height: 100px;
      }
      .experience-item-description{
        min-height: 210px;
        padding:60px 30px 34px;
        border-radius: 20px;
        p{
            font-size: 14px;
        }
  }
}
@media(max-width:769px){
  .experience-content-box{
    display: none;
  }
  .experience-content-mob{
    display: block;
  }
}

