.home-content{
    display: flex;
    width: 100%;
    min-height: 580px;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
}
.home-content-items-images{
    width: 530px;
     height: 620px;
    background: url(../../img/homeBlock/sectionHome_img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-content-items-description{
    max-width: 590px;
    position: absolute;
    left: 0;
    top: 100px;
    h1{
        color: var(--gray);
        font-weight: 400;
        line-height: 1.3;
        padding:0px 0 26px ;
        b{
            font-weight: 400;
            color: var(--green);
        }
      
    }
    h3{
        color: var(--green);
        padding: 20px 0;
    }
    p{
        margin-bottom: 58px;
    }
}
.home-scils{
    max-width: 1119px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #E6E6E6;
    background: var(--white);
    box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 0.07);
    transform: translateY(-100px);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 30px;
    &__items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1.3;
        margin: 6px;
        width: 33%;
        h4{
            color: var(--green);
            text-align: center;
        }
        span{
            font-size: 40px;
            color: var(--green);
        }
        .icons{
           max-width: 60px;
           img{
            width: 100%;
            height: 100%;
            object-fit: contain;
           }
        }
        p{
            text-align: center;
            line-height: 1.3;
            max-width: 250px;
            b{
                color: var(--green);
            }
        }
    }
}
@media(max-width:1100px){
    .home-content-items-description{
        max-width: 50%;
    }
}
@media(max-width:950px){
  .home-content-items-images{
    width: 430px;
    height: 520px;
  }
  .home-content-items-description{
   p{
    margin-bottom: 30px;
   }
}

}
@media(max-width:769px){
    .home-content{
        flex-direction: column;
        align-items: center;
    }
    .home-content-items-description{
        position: relative;
        top: 0;
        max-width: 100%;
        text-align: center;
    }
    .home-scils{
        flex-direction: column;
        align-items: center;
        &__items{
            width: 100%;
            span{
                font-size: 30px;
                color: var(--green);
            }
            p{
                max-width: 100%;;
            }
        }
    }
}
@media(max-width:520px){
    .home-content-items-images{
        width: 330px;
        height: 420px;
      }
      .home-scils{
        padding: 20px;
        &__items{
            span{
                font-size: 20px;
                color: var(--green);
            }
   
    }
}
}