:root{
    --green: #5ABB4A;
    --dark-green: #17570C;
    --light-green: #DCFBD7;
    --gray: #666666;
    --light-gray:#dddddd;
    --white: #ffffff;
    --orange: #FFAD65;
    --dark-orange:#f0780e;
}